/*csslint box-model: false, ids: false, universal-selector: false, box-sizing: false,*/


/*UNIVERSAL SELECTOR*/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /*   letter-spacing: 5px;*/
}


/*********************************
General
*********************************/

body {
    color: #212121;
    line-height: 1.5;
    margin: 0;
}

.main-header {
    /*background-image: radial-gradient(circle at top, #ffa949, firebrick);
    background-image: linear-gradient(#ffa949, firebrick);
    background-image: url('img/mountains.jpg');*/
    background: linear-gradient(lightblue, transparent 40%), #ffa949 url('img/mountains.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
}

.main-header,
.title {
    text-align: center;
}

.title {
    border-bottom: 2px solid;
    color: #212121;
    /*To change font-size from px to em, do this simple equation: pixels(x)/16 */
    font-size: 1.155em;
    font-weight: 200;
    letter-spacing: 10px;
    padding-bottom: 10px;
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.t-border {
    border-top: 2px solid lightgrey;
}

.wildlife {
    /*background-color: #02283A;*/
    background-image: url('img/bear.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #0194AC;
    /*Box Shadows: 1st value is horizontal. 2nd is vertical. 3rd is blur. 4th is spred-radius*/
    box-shadow: inset 50px 10px rgba(0, 0, 0, , 8);
    color: white;
    /* fist value is top, second is left and right, third is bottom */
    margin: 105px 0 60px;
    padding: 18% 24%;
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 10px #0194AC;
    padding-bottom: 60px;
    padding-top: 60px;
}


/*********************************
Headline & P Elements
*********************************/

h1 {
    color: #212121;
    /* em = 90px/16 */
    font-size: 3.625em;
    font-weight: normal;
    letter-spacing: 25px;
    line-height: 1.3;
    margin: 12px 0 0;
    /*Text Shadows: 1st value is horizontal offset. 2nd value is vertical offset. 3rd value is blur. 4th is of the color shadow*/
    text-shadow: 0 0 0 rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

h2 {
    font-size: 53px;
    font-weight: normal;
    /* em = 25px/3  */
    margin-bottom: .5em;
    text-decoration: underline;
}

h3 {
    color: #0194AC;
    font-size: 20px;
    margin-bottom: 1.7em;
}

p {
    font-size: 20px;
}


/*********************************
Floated Columns
*********************************/

.resorts,
.tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}


/*********************************
Colors
*********************************/

ul li {
    color: gray;
    /*    margin-bottom: 5px;*/
}

ul,
ol {
    margin-left: 30px;
}

li {
    margin-bottom: 10px;
}

.arrow {
    margin-top: 100px;
    width: 50px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.main-header {
    background-color: darkblue;
}


/*CSS PSEUDO CLASS*/

a:link {
    color: #0194AC;
    text-decoration: none;
}

a:visited {
    color: dimgray;
}

a:hover {
    color: #338C48;
}

a:active {
    color: grey;
}

a:focus {
    background-color: #0194AC;
    color: gray;
}


/*********************************
Media Queries
*********************************/

@media(max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .wildlife {
        margin: 50px 0 20px;
        padding: 10% 12%;
    }
}

@media(max-width: 768px) {
    .primary-content,
    .secondary-content {
        border-top: none;
        padding: 20px;
        width: 100%;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px;
    }
    .title {
        border: none;
        font-size: 1.3rem;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .resorts,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}